{%extends 'base.html'%}


{% block content %}
{{ block.super}}
<div class="container">
 <h1>This is the index page </h1>
 <div class="row">
   {% for project in projects %}
   <div class="col-md-6">

      <p>{{project.title}}</p>
      <a href="{% url 'project' project.id %}"> <img src="{{project.image.url}}" class="img-responsive" alt="Image"></a>
      <p>{{project.description}}</p>
      <a href="{{project.link}}"> {{project.link}}</a>
      {% empty %}
  <div class="row">
    <h2 class="text-center">There are no Projects yet</h2>
  </div>

   {% endfor %}

 </div>
 </div>

</div>
 {%endblock%}
